@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
/*
*,
*::before,
*::after {
  box-sizing: border-box;
}
*/

body {
    display: flex;
    background-color: #243242;
    overflow-y: hidden; /* Testing a static landing page style */
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: #111111;
    top: 0;
    padding: 14px;
    position: fixed;
    z-index: 9;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
    background-color: #111111;
    color: white;
    position: fixed;
    bottom: 0;
}
.hide {
    display: none;
}

.flex-hor {
    display: flex;
    flex-direction: row;
}
.flex-ver {
    display: flex;
    flex-direction: column;
}

.left-head {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 30px;
}
.image-head {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    padding-right: 24px;
    transition: opacity 0.8s ease-in-out;
}
.title-head {
    color: white;
    transition: color 0.4s ease;
}
.title-head:hover {
    color: #24d600;
    cursor: pointer;
}
.right-head {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 30px;
}
.right-head-buttons-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.button-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 18px;
    padding: 12px;
    background-color: #393939;
}
.button-head:hover {
    background-color: #303030;
    cursor: pointer;
}
.button-head:active {
    background-color: #252525;
}
.button-head-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    filter: invert(1);
}

#scrool-zero {
    padding: 4px;
    border: solid 1px white;
    border-radius: 10px;
}
#scrool-zero img {
    width: 3rem;
    height: 3rem;
    padding: 8px;
    transition: transform 0.3s ease;
}
#scrool-zero img:hover {
    transform: scale(1.15);
    cursor: pointer;
}
#scrool-zero img:active {
    transform: scale(1);
}

.blank-square {
    display: none;
    position: fixed;
    filter: brightness(0);
    width: 240vh;
    height: 61vh;
    top: 18vh;
    left: 8rem;
    z-index: 0;
    object-fit: cover;
    border-radius: 24px;
}

.experience-tab-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.experience-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    gap: 10px;
    width: 100%;
    margin: 12px;
    padding: 16px;
    border-radius: 24px;
    background-color: #4b6686;
}
.experience-tab:hover {
    cursor: pointer;
}
.experience-tab img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    padding: 9px;
    border: solid 1px white;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px black);
}
.experience-tab p {
    position: sticky;
    font-size: 28px;
    font-weight: bold;
}

.index-txt {
    width: 50%;
    margin: 20px;
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    z-index: 1;
}

.index-txt h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.index-txt p {
    font-size: 22pxpx;
}
.image-side-main {
    width: 40%;
    height: 40%;
}
.main-splash-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(4px 4px 8px black);
    transition: filter 0.4s ease;
}
.main-splash-img:hover {
    filter: drop-shadow(6px 6px 7px grey);
}

.button-main-top{
    margin-top: 20px;
    padding: 18px;
    width: 100%;
    border-radius: 24px;
    box-shadow:  2px 2px 4px black;
    background-color: #393939;
    color: white;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}
.button-main-top:hover{
    background-color: #000000;
    box-shadow: 6px 6px 10px black;
    cursor: pointer;
}
.button-main-top:active {
    background-color: #000000;
    color: white;
    box-shadow: inset 6px 6px 10px grey;
}
.button-main-top span {
    font-size: 2.2rem;
    font-weight: bolder;
    animation: colorShift 8s infinite ease-in-out;
}

/* Estilos da tag Main */
main {
    margin-top: 15vh;
    animation: 2s anim-lineUp ease-out;
    color: white;
}

/* Segundo Bloco - class SecTb & subclasses */

.secTb-title {
    display: flex;
    width: 100%;
    margin-top: 48px;
    align-items: center;
    justify-content: center;
    font-size: 81px;
    color: #24d600;
}
.secondTb {
    display: flex;
    flex-direction: row;
    padding-top: 18px;
}
.secTb-badges-logo {
    width: 40%;
    height: 20%;
    border-radius: 24px;
    object-fit: cover;
    box-shadow: 3px 3px 6px black;
}

.secTb-subtitle1 {
    font-size: 5rem;
    background-image: linear-gradient(to left, rgb(226, 192, 0), rgb(0, 81, 255));

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.secTb-subtitle1:hover {
    background-image: linear-gradient(to right, rgb(226, 192, 0), rgb(0, 81, 255));
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.secTb-subtitle2 {
    font-size: 5rem;
    color: #929000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.secTb-subtitle2:hover {
    color: #fffb00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;    
}

.secondTb div p {
    padding-top: 1rem;
    margin: 3rem;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateX(-80%);
  }
  20% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes colorShift {
  0%   { color: #d4e1fb; }
  50%  { color: #ffd6d6; }
  100% { color: #d4e1fb; }
}

@media (prefers-reduced-motion: reduce) {
  button span {
    animation: none;
  }
}

@media (max-width: 1420px) {
    .blank-square {
        width: 96%;
        height: 65vh;
        left: 10px;
        right: 10px;
    }
    .index-txt h3 {
        font-size: 44px;
    }
}

@media (max-width: 1048px) {
    .blank-square {
        width: 96%;
        height: 65vh;
        left: 10px;
        right: 10px;
    }
    .index-txt h3 {
        font-size: 41px;
    }
}

@media (max-width: 760px) {
    body {
        overflow-x: hidden;
    }
    /* Header */
    .title-head {
        display: none;
    }
    .button-head {
        padding: 8px;
    }
    .button-head img {
        width: 28px;
        height: 28px;
    }
    .button-head p{
        font-size: 10px;
    }
    /* ^^^ */
    .blank-square {
        width: 93%;
        height: 65vh;
        left: 10px;
        right: 10px;
    }
    main {
        flex-wrap: wrap;
    }
    .experience-tab-flex {
        flex-direction: column;
    }
    .experience-tab {
        width: 90%;
    }
    .index-txt {
        width: 90%;
    }
    .index-txt h3 {
        font-size: 28px;
    }
    .index-txt p {
        font-size: 16px;
    }
    .button-main-top {
        font-size: 20px;
    }
    .image-side-main {
        width: 0%;
        display: none;
    }
    .secTb-title {
        font-size: 49px;
    }
    .secondTb {
        flex-direction: column;
    }
    .secondTb div p {
        margin: 12px;
    }
}